In [425]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Income 2021 
### 5 Years Averge (2017,18,19,20,21)

***

**ACSST5Y2021.S1901**

In [426]:
income_2021_raw=pd.read_csv('../data/raw/ACSST5Y2021.S1901-Data.csv')
income_2021_raw.shape

(1333, 259)

In [427]:
income_2021_raw.head(2)

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_001MA,S1901_C01_001EA,S1901_C01_002E,S1901_C01_002M,S1901_C01_002MA,S1901_C01_002EA,...,S1901_C04_014EA,S1901_C04_015E,S1901_C04_015M,S1901_C04_015MA,S1901_C04_015EA,S1901_C04_016E,S1901_C04_016EA,S1901_C04_016M,S1901_C04_016MA,Unnamed: 258
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,Annotation of Margin of Error!!Households!!Total,Annotation of Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!Les...,...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,NaN
1,1400000US17031010100,"Census Tract 101, Cook County, Illinois",2411,306,NaN,NaN,14.8,6.9,NaN,NaN,...,(X),(X),(X),(X),(X),26.0,NaN,(X),(X),NaN

***

#### 1. Select and clean up the columns

#Which columns are useful? This is being determined by referring to the dataset metadata file </br>
'S1901_C01_013E':'Mean_House_Income'</br>
'S1901_C01_014E': 'Percent Allocation from the past 12 months'</br>
'S1901_C01_012E':'Median_House_Income'</br>

In [428]:
#the list of meaningful columns within Income Dataframe
income_col={'GEO_ID':'GEO_ID','NAME':'NAME','S1901_C01_013E':'Mean_House_Income','S1901_C01_012E':'Median_House_Income',}

In [429]:
income_2021_wip=income_2021_raw[list(income_col.keys())]
income_2021_wip.rename(columns=income_col,inplace=True)

C:\Users\44742\AppData\Local\Temp\ipykernel_2628\2024131606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_2021_wip.rename(columns=income_col,inplace=True)

In [430]:
income_2021_wip.head(5)

,GEO_ID,NAME,Mean_House_Income,Median_House_Income
0,Geography,Geographic Area Name,Estimate!!Households!!Mean income (dollars),Estimate!!Households!!Median income (dollars)
1,1400000US17031010100,"Census Tract 101, Cook County, Illinois",69746,60316
2,1400000US17031010201,"Census Tract 102.01, Cook County, Illinois",62192,43750
3,1400000US17031010202,"Census Tract 102.02, Cook County, Illinois",58572,45096
4,1400000US17031010300,"Census Tract 103, Cook County, Illinois",71497,60846

In [431]:
income_2021_wip.isna().sum()

GEO_ID                 0
NAME                   0
Mean_House_Income      0
Median_House_Income    0
dtype: int64

In [432]:
income_2021_wip.duplicated().sum()

0

### No nulls or duplicates

In [433]:
income_2021_wip=income_2021_wip.iloc[1:,:]

In [434]:
income_2021_wip['Census_Tract']=income_2021_wip.loc[:,'GEO_ID'].apply(lambda x: x[-6:]);

In [435]:
income_2021_wip.head()

,GEO_ID,NAME,Mean_House_Income,Median_House_Income,Census_Tract
1,1400000US17031010100,"Census Tract 101, Cook County, Illinois",69746,60316,010100
2,1400000US17031010201,"Census Tract 102.01, Cook County, Illinois",62192,43750,010201
3,1400000US17031010202,"Census Tract 102.02, Cook County, Illinois",58572,45096,010202
4,1400000US17031010300,"Census Tract 103, Cook County, Illinois",71497,60846,010300
5,1400000US17031010400,"Census Tract 104, Cook County, Illinois",58464,43024,010400

In [436]:
income_2021_temp=income_2021_wip.copy()
income_2021_temp['Census_Tract']=income_2021_temp['Census_Tract'].apply(lambda x: 's'+x)
#adding a latter to Census_tract so it does not get converted into a numeric data type & have leading zeroes removed

In [437]:
income_2021_temp.sample()

,GEO_ID,NAME,Mean_House_Income,Median_House_Income,Census_Tract
92,1400000US17031062100,"Census Tract 621, Cook County, Illinois",137661,96510,s062100

In [438]:
income_2021_temp.to_csv('../data/interim/income_2021.csv')
#export