In [198]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [199]:
income_2021_raw=pd.read_csv('../data/raw/ACSST5Y2021.S1901-Data.csv')
income_2021_raw.shape

(1333, 259)

In [200]:
(income_2021_raw.isna().sum()/income_2021_raw.shape[0]>0.15).sum()

106

In [201]:
income_2021_raw.head(2)

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_001MA,S1901_C01_001EA,S1901_C01_002E,S1901_C01_002M,S1901_C01_002MA,S1901_C01_002EA,...,S1901_C04_014EA,S1901_C04_015E,S1901_C04_015M,S1901_C04_015MA,S1901_C04_015EA,S1901_C04_016E,S1901_C04_016EA,S1901_C04_016M,S1901_C04_016MA,Unnamed: 258
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,Annotation of Margin of Error!!Households!!Total,Annotation of Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!Les...,...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,NaN
1,1400000US17031010100,"Census Tract 101, Cook County, Illinois",2411,306,NaN,NaN,14.8,6.9,NaN,NaN,...,(X),(X),(X),(X),(X),26.0,NaN,(X),(X),NaN

## 1. Select and clean up the columns

In [202]:
income_2021_raw.shape
#259 columns in total

(1333, 259)

In [203]:
income_2021_raw['S1901_C01_013E'];

In [204]:
income_2021_wip=pd.DataFrame(data=income_2021_raw[['GEO_ID','NAME','S1901_C01_013E']])
income_2021_wip.rename(columns={'S1901_C01_013E':'Mean_House_Income'},inplace=True)

In [205]:
income_2021_wip.head(5)

,GEO_ID,NAME,Mean_House_Income
0,Geography,Geographic Area Name,Estimate!!Households!!Mean income (dollars)
1,1400000US17031010100,"Census Tract 101, Cook County, Illinois",69746
2,1400000US17031010201,"Census Tract 102.01, Cook County, Illinois",62192
3,1400000US17031010202,"Census Tract 102.02, Cook County, Illinois",58572
4,1400000US17031010300,"Census Tract 103, Cook County, Illinois",71497

In [206]:
income_2021_wip2.head(5)

,GEO_ID,NAME,Mean_House_Income,Census_Tract
1,1400000US17031010100,"Census Tract 101, Cook County, Illinois",69746,010100
2,1400000US17031010201,"Census Tract 102.01, Cook County, Illinois",62192,010201
3,1400000US17031010202,"Census Tract 102.02, Cook County, Illinois",58572,010202
4,1400000US17031010300,"Census Tract 103, Cook County, Illinois",71497,010300
5,1400000US17031010400,"Census Tract 104, Cook County, Illinois",58464,010400

In [207]:
income_2021_wip2.tail(5)

,GEO_ID,NAME,Mean_House_Income,Census_Tract
1328,1400000US17031844600,"Census Tract 8446, Cook County, Illinois",69381,844600
1329,1400000US17031844700,"Census Tract 8447, Cook County, Illinois",46398,844700
1330,1400000US17031980000,"Census Tract 9800, Cook County, Illinois",-,980000
1331,1400000US17031980100,"Census Tract 9801, Cook County, Illinois",-,980100
1332,1400000US17031990000,"Census Tract 9900, Cook County, Illinois",-,990000

In [208]:
tracts_permits=pd.read_csv('../data/interim/tracts.csv',index_col=0)
tracts_permits.rename(columns={'0':'COUNTS'},inplace=True)
#import the list of census tracts from the permit dataset (as index) & counts of applications for each

In [209]:
tracts_num_p=list(tracts_permits.index)
#these are the tract number from the raw Permits Dataframe. We need to match them to the Income Dataframe

In [210]:
tracts_permits.sample(5)

              COUNTS
CENSUS_TRACT
834000           223
2836             161
2907              45
506              225
2418             120

In [211]:
for i in tracts_permits.index:
    t1=0
    t2=len(str(i))
    result=max(t1,t2)
result

6

In [212]:
#6 = max number of digits in the census tracts (from the permit database)
#Notice that the last 6 digits of GEO_ID appear to contain similar information
#Let's try extracting the last 6 digits from the GEO_ID column

In [213]:
#income_2021_wip2.assign(Census_Tract = lambda x: x['GEO_ID'])

In [214]:
income_2021_wip2['Census_Tract']=income_2021_wip2['GEO_ID'].apply(lambda x: x[-6:]);

C:\Users\44742\AppData\Local\Temp\ipykernel_2628\3958311354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_2021_wip2['Census_Tract']=income_2021_wip2['GEO_ID'].apply(lambda x: x[-6:]);

In [215]:
#income_2021_wip2['Census_Tract']=income_2021_wip2['Census_Tract'].apply(lambda x: x.lstrip('0'))

In [216]:
income_2021_wip2.head(5)

,GEO_ID,NAME,Mean_House_Income,Census_Tract
1,1400000US17031010100,"Census Tract 101, Cook County, Illinois",69746,010100
2,1400000US17031010201,"Census Tract 102.01, Cook County, Illinois",62192,010201
3,1400000US17031010202,"Census Tract 102.02, Cook County, Illinois",58572,010202
4,1400000US17031010300,"Census Tract 103, Cook County, Illinois",71497,010300
5,1400000US17031010400,"Census Tract 104, Cook County, Illinois",58464,010400

In [ ]:
income_2021_wip2.to_csv('../data/interim/income_201.csv')

In [217]:
income_2021_wip2.sample(10)

,GEO_ID,NAME,Mean_House_Income,Census_Tract
989,1400000US17031816500,"Census Tract 8165, Cook County, Illinois",61310,816500
940,1400000US17031812301,"Census Tract 8123.01, Cook County, Illinois",111004,812301
266,1400000US17031222600,"Census Tract 2226, Cook County, Illinois",98995,222600
11,1400000US17031010702,"Census Tract 107.02, Cook County, Illinois",61339,010702
1177,1400000US17031828000,"Census Tract 8280, Cook County, Illinois",73741,828000
1096,1400000US17031823903,"Census Tract 8239.03, Cook County, Illinois",140939,823903
293,1400000US17031241400,"Census Tract 2414, Cook County, Illinois",221343,241400
911,1400000US17031810000,"Census Tract 8100, Cook County, Illinois",150030,810000
451,1400000US17031430600,"Census Tract 4306, Cook County, Illinois",85700,430600
1267,1400000US17031836300,"Census Tract 8363, Cook County, Illinois",76553,836300

In [218]:
income_clean=income_2021_wip2[['Mean_House_Income','Census_Tract']]

In [219]:
income_clean.sample(5)

     Mean_House_Income Census_Tract
193              94642       160300
954              79954       813400
615              38547       680600
915             125743       810302
1313             64428       842400

In [238]:
tracts_income=list(income_clean['Census_Tract'])

In [220]:
tracts_num_p=list(tracts_permits.index)

In [221]:
# let's go back to 'tracts_num_p' to see if we can match tract numbers from Income to Permits
tracts_num_p[::300]
#sample from census tract numbers from the permit database

[101, 2417, 4408, 30500, 252201, 691400]

In [281]:
tracts_num_p[::200]

[101, 1707, 2828, 4408, 6812, 81100, 252201, 570500, 835800]

In [224]:
#need to add leading zeros for tracts starting with 1
#tracts_num_p=[''.join(('0',str(i))) for i in tracts_num_p if str(i)[0]=='1' else]

In [225]:
tracts_num_p_wip=[(lambda x:''.join(('0',x)) if len(x)==3 else x)(str(i)) for i in list(tracts_permits.index)]
tracts_num_p_wip[::300]

['0101', '2417', '4408', '30500', '252201', '691400']

In [227]:
#now need to add zeros at the end to ensure all of the numbers are 6 digits long
#tracts_num_p_wip2=[''.join(('0',i)) for i in tracts_num_p if len(i)<6]

In [257]:
tracts_num_p_wip[0:10]

['0101',
 '0102',
 '0103',
 '0104',
 '0105',
 '0106',
 '0107',
 '0108',
 '0109',
 '0201']

In [258]:
six_digits=[i for i in tracts_num_p_wip if len(i)==6]

In [272]:
six_digits[::25]

['100100',
 '140500',
 '160601',
 '190402',
 '210900',
 '230300',
 '242100',
 '251300',
 '271400',
 '301200',
 '350400',
 '400500',
 '430400',
 '460500',
 '500300',
 '560400',
 '600700',
 '630500',
 '661100',
 '681300',
 '710600',
 '740100',
 '831200',
 '834600',
 '837400',
 '841100',
 '843700']

In [235]:
tracts_num_p_wip2=[''.join((i,'0'*(6-len(i)))) for i in tracts_num_p_wip]

In [237]:
tracts_num_p_wip2[::300]

['010100', '241700', '440800', '305000', '252201', '691400']

In [239]:
#now we have tracts_num_p_wip2 & tracts_income

In [261]:
missing=[i for i in tracts_num_p_wip2 if i not in tracts_income]

In [262]:
len(missing)

469

In [303]:
missing[::29]

['010200',
 '063300',
 '190400',
 '231600',
 '280300',
 '284200',
 '301400',
 '350900',
 '411400',
 '561300',
 '630100',
 '102010',
 '303000',
 '406000',
 '619020',
 '713000',
 '630200']

In [283]:
missing_int=[int(i) for i in missing]

In [296]:
test=[(i,k) for i,k in zip(tracts_permits.index, tracts_income)]

In [309]:
income_clean[120:130]

    Mean_House_Income Census_Tract
121            180751       071400
122            142618       071500
123            271032       071600
124            249828       071700
125            280147       071800
126            185035       080100
127            204784       080201
128            197731       080202
129            185009       080300
130            172315       080400